body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.hero{
    margin-top: 20px;
    border: 1px solid #3e3e3e;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
}
span{
    font-size: 18px;
    font-weight: 600;
}
input,button{
    width: 200px;
    height: 25px;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #a2d2ff;
    border-radius: 6px;
}
.btn1{
    width: 70px;
    height: 30px;
    background-color: #e76f51;
    border: none;
    border-radius: 6px;
    color: #3e3e3e;
}
#btn-del{
    color: red;
    width: 30px;
}
#newtask p{
    margin: 5px;
    background-color: #e5e5e5;
    border: 1px solid #3e3e3e;
    border-radius: 3px;
    padding:5px;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    width: max-content;
    animation: scrollanim 20s linear infinite;
}

